*{
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  --taskbar-height: 2.25rem;
  --primary-gray-color: rgba(192,192,192,1);
  --primary-main-color: rgba(0,128,128,1);
  --menu-width: 15rem;
}
.App {
  margin: -8px;
  width: 100vw;
  height: 100vh;
}
